html.light{
    --color-bg: #F9F9F9;
    --color-heading: black;
    --color-paragraph: #727272;
    --color-bg1: #EEEFF1;
    --color-nav: black;
    --color-buttons: #34547A;
    --color-blueFons: #34547A;
    --color-gear: #EEEFF1;
    --color-btnHover1: #0c3768;
    --color-btnHover2: #00BBD3;
    --color-span: black;
}

html.dark{
    --color-bg: black;
    --color-heading: #F9F9F9;
    --color-paragraph:rgb(180, 180, 180) ;
    --color-bg1: rgb(30,30,30);
    --color-nav: #f9f9f9;
    --color-buttons: #062246;
    --color-blueFons: #021225;
    --color-gear: rgb(30,30,30);
    --color-btnHover1: #0c3768;
    --color-btnHover2: #00BBD3;
    --color-span: #F9F9F9;
}

html.summer{
    --color-bg: rgb(241, 238, 238);
    --color-heading: #5fe620 ;
    --color-paragraph:rgb(61, 61, 61) ;
    --color-bg1: #ffff66;
    --color-nav: #02591c;
    --color-buttons: #43d143;
    --color-blueFons: #43d143;
    --color-gear: #ffff66;
    --color-btnHover1: #02591c;
    --color-btnHover2: #ffff66;
    --color-span: #00bbd3;
}

html.reset{
    --fontSize-p: 16px;
    --fontSize-titles: 32px;
}

html.increaseSize1{
    --fontSize-p: 20px;
    --fontSize-titles: 36px;
}

html.increaseSize2{
    --fontSize-p: 24px;
    --fontSize-titles: 40px;
}

body{
    position: absolute;
    background-color: var(--color-bg);
    width: 100%;
    max-width: 1920px;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.body-wrapper{
    overflow: hidden;
    width: 100%;
    position: relative;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;   
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    font-size: var(--fontSize-titles);
    color:var(--color-heading);
    margin:0;
    padding:0;
}

p{
    font-weight: 400;
    font-size: var(--fontSize-p);
    color: var(--color-paragraph);
    margin:0;
    padding:0;
}

.wrapper{
    max-width: 1150px;
    margin: 0 auto;
}

.open{
    display: block !important;
}

.wrapper_text{
    max-width: 540px;
    margin: 0 auto; 
}

textarea { 
    resize: none;
}
/* Button settings */
.button {
    display: inline-block;
    background: var(--color-buttons);
    font-weight: 400;
    color: white;
    line-height: 19px;
    letter-spacing: 1.4px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.button:hover, .button:focus, .button:active{
    background: var(--color-btnHover1);
    color: var(--color-btnHover2);
}
/* Header settings */
.header{
    width: 100%;
    background-color: var(--color-bg1);
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header_logo_picture{
    margin-top: 50px;
    width: 96px;
    height: 60px;
}

.btn{
    padding: 0 10px;
    display: inline-flex;
    background: var(--color-buttons);
    color: #fff;
    margin-left: 10px;
    cursor:pointer;
}

.btn:nth-child(2){
    font-size: 1.5em;
}

.btn:nth-child(3){
    font-size: 2em;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 76px;
}

.header_element{
    margin-right: 42px;
}

.header_element:last-child{
    margin-right: 0;
}

.header_link{
    font-size: 16px;
    font-weight: 400px;
    color: var(--color-nav);
    text-decoration: none;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.header_link:hover, .header_link:focus, .header_link:active{
    color: #34547A;
}

.themes{
    display: flex;
    flex-direction: column;
    color: black;
}

.image_button{
    width: 50px;
    height: 50px;
    border: none;
    background-color: #7dc7e9;
    cursor: pointer;
}

.burger-btn{
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
}

.burger-btn span{
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    left: 5px;
    background-color: var(--color-span);
    transition: background-color .3s, opacity .3s, transform .5s;
    will-change: transform;
    cursor: pointer;
}

.burger-btn:hover span{
    background-color: #00BBD3;
}

.burger-btn span:nth-child(1){
    transform: translateY(-10px);
}

.burger-btn span:nth-child(3){
    transform: translateY(10px);
}

.header.open .burger-btn span{
    background-color: var(--color-span);
}

.header.open .burger-btn span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}
.header.open .burger-btn span:nth-child(2){
    opacity: 0;
}
.header.open .burger-btn span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}

.settings{
    display: none;
    background: #7dc7e9;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 15px;
}

.settings-btn{
    border: none;
    background-color: var(--color-gear);
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin-top: 50px;
}

/* Start settings */
.start{
    background-color: var(--color-bg1);
}

.start_elements{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 131px;
    padding-top: 142px;
    padding-bottom: 146px;
}

.start_picture{
    width: 100%;
    max-width: 357px;
    height: auto;
    transform: scale(0);
    transition: all 0.7s ease 0s;
}

.start_picture._workingAnim{
    transform: scale(1);
}

.start_title{
    max-width: 540px;
    text-align: left;
}

.start_heading{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 60px;
    transform: translate(120%,0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.start_heading._workingAnim{
    transform: translate(0px, 0px);
    opacity: 1;
}

.start_title p{
    margin-bottom: 60px;
}

.start_text{
    transform: translate(120%,0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.start_text._workingAnim{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.5s;
}

.write_me{
    padding: 25px 41px;
    font-size: 16px;
    transform: translate(120%,0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.write_me._workingAnim{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 1s;
}

/* About_me settings */
.about_me{
    margin-top: 119px;
    margin-bottom: 100px;
    text-align: center;
}

.about_me h2{
    margin-bottom: 50px;
}

.about_me_title{
    transform: translate(100%,0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.about_me_title._workingAnim{
    transform: translate(0px,0px);
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.about_me_paragraph{
    transform: translate(-100%,0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.about_me_paragraph._workingAnim{
    transform: translate(0px,0px);
    opacity: 1;
    transition: all 0.8s ease 0.5s;
}
/* Blue_projects settings */
.blue_projects{
    background-color: var(--color-blueFons);
    width: 100%;
}

.project_card{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 49px;
    padding-top:100px;
    padding-bottom:100px;
}

.card-pic{
    transform: translate(0px,100%);
    opacity: 0;
    transition: all 0.7s ease 0s;
}

.project_card._workingAnim .card-pic:nth-child(1){
    transition: all 0.7s ease 0.15s;
}
.project_card._workingAnim .card-pic:nth-child(2){
    transition: all 0.7s ease 0.3s;
}
.project_card._workingAnim .card-pic:nth-child(3){
    transition: all 0.7s ease 0.45s;
}
.project_card._workingAnim .card-pic:nth-child(4){
    transition: all 0.7s ease 0.6s;
}
.project_card._workingAnim .card-pic:nth-child(5){
    transition: all 0.7s ease 0.75s;
}
.project_card._workingAnim .card-pic:nth-child(6){
    transition: all 0.7s ease 0.9s;
}

.project_card._workingAnim .card-pic{
    transform: translate(0px,0px);
    opacity: 1;
}

/* My_skills settings */
.my_skills{
    margin-top: 102px;
    margin-bottom: 101px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
}

.my_skills_text{
    width: 445px;
    margin-top: 102px;
    margin-bottom: 91px;
}

.my_skills_text h3{
    margin-bottom: 50px;
}

.skills_title{
    transform: translate(0px, -200%);
    opacity: 0;
    transition: all 0.7s ease 0s;
}

.skills_title._workingAnim{
    transform: translate(0px,0px);
    opacity: 1;
    transition: all 0.7s ease 0.2s;
}

.my_skills_text p{
    margin-bottom: 20px;
    height: 15px;
}

.Adobe{
    transform: scale(0);
    transition: all 0.7s ease 0s;
}

.Adobe._workingAnim{
    transform: scale(1);
    transition: all 0.7s ease 0.2s;
}

.scale{
    margin-bottom: 30px;
    transform: translate(-100%, 0px);
    opacity: 0;
    transition: all 0.7s ease 0s;
}

.scale._workingAnim{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.7s ease 0.2s;
}

.scale_gray{   
    width: 100%;
    height: 4px;
    background-color: #c4c4c4;
}

.scale_blue{
    width: 80%;
    max-width: 349px;
    height: 4px;
    background-color: var(--color-buttons);
    margin-top: -4px;
}

.scale:last-child{
    margin-bottom: 0;
}

.fotoAuthor{
    max-width: 100%;
    max-height: 100%;
    transform: scale(0);
    transition: all 0.7s ease 0s;
}

.fotoAuthor._workingAnim{
    transform: scale(1);
}

/* How_work settings */
.how_work{
    background-color: var(--color-bg1);
    width: 100%;
}

.how_work_title{
    text-align: center;
    padding-top: 100px;
    transform: scale(0);
    transition: all 0.7s ease 0s;
}

.how_work_title._workingAnim{
    transform: scale(1);
    transition: all 0.7s ease 0.2s;
}

.how_work_title h4{
    margin-bottom: 50px;
}

.videoclip{
    padding-bottom: 100px;
}

.video{
    background: url('../img/Rectangle 5.png') no-repeat;
    background-position: center center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 57px;
    max-width: 1110px;
    height: 65vh;
    width: 58%;
    transform: scale(0);
    transition: all 0.7s ease 0s;
}

.video._workingAnim{
    transform: scale(1);
    transition: all 0.7s ease 0.5s;
}

.video::after{
    content: '';
    display: block;
    background: url('../img/play-button.svg');
    width: 100px;
    height: 100px;
}
/* Photos settings */
.photos{
    display: grid;
    grid-template-columns: repeat(4,25vw);
    grid-template-rows: repeat(2,25vw);
    margin-top: 28px;
    padding: 0px;
}

.photos_element{
    transform: scale(0);
    transition: all 0.7s ease 0s;
}

.photos._workingAnim .photos_element:nth-child(1){
    transition: all 0.7s ease 0.2s;
}
.photos._workingAnim .photos_element:nth-child(2){
    transition: all 0.7s ease 0.4s;
}
.photos._workingAnim .photos_element:nth-child(3){
    transition: all 0.7s ease 0.6s;
}
.photos._workingAnim .photos_element:nth-child(4){
    transition: all 0.7s ease 0.8s;
}
.photos._workingAnim .photos_element:nth-child(5){
    transition: all 0.7s ease 1s;
}
.photos._workingAnim .photos_element:nth-child(6){
    transition: all 0.7s ease 1.2s;
}
.photos._workingAnim .photos_element:nth-child(7){
    transition: all 0.7s ease 1.4s;
}
.photos._workingAnim .photos_element:nth-child(8){
    transition: all 0.7s ease 1.6s;
}

.photos._workingAnim .photos_element{
    transform: scale(1);
}

.photochka{
    width: 100%;
    height: 100%;
}

.gradient{
    display: inline-block;
	position: relative;    
	line-height: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.gradient:hover:after {
	content: '';
	display: block;   
    width: 100%;
	height: 100%; 
	position: absolute;
    background: transparent;
	background-image: linear-gradient(#34547A, #34547A);
    opacity: 0.8; 
}

.gradient:hover:before {
	content: '';
    display: inline-block;
    width: 100px;
	height: 100px;
    position: absolute;    
	background: url('../img/view.svg') no-repeat;
    z-index: 100;
}
/* Microsoft_photos settings */
.microsoft{
    margin-top: 72px;
}

.microsoft_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
}

.microsoft-elemens{
    transform: translate(-120%,0px);
    opacity: 0;
    transition: all 0.7s ease 0s;
}

.microsoft_list._workingAnim .microsoft-elemens:nth-child(1){
    transition: all 0.7s ease 0.3s;
}

.microsoft_list._workingAnim .microsoft-elemens:nth-child(2){
    transition: all 0.7s ease 0.6s;
}

.microsoft_list._workingAnim .microsoft-elemens:nth-child(3){
    transition: all 0.7s ease 0.9s;
}

.microsoft_list._workingAnim .microsoft-elemens:nth-child(4){
    transition: all 0.7s ease 1.2s;
}

.microsoft_list._workingAnim .microsoft-elemens{
    transform: translate(0px,0px);
    opacity: 1;
}

.microsoft:last-child{
    gap:0;
}

.microsoft_photo{
    max-width: 100%;
    max-height: 100%;
}

/* Final main block settings */
.last-block{
    margin-top: 100px;
    padding-bottom: 100px;
    background-color: var(--color-bg1);
}

.last_text-block{
    padding-top: 100px;
    text-align: center;
}

.last_title{
    transform: translate(-100%,0px);
    opacity: 0;
    transition: all 0.7s ease 0s;
}

.last_title._workingAnim{
    transform: translate(0px,0px);
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.last_text-block p{
    margin-top: 50px;
}

.last_paragraph{
    transform: translate(100%,0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.last_paragraph._workingAnim{
    transform: translate(0px,0px);
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.data{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 65px;
}

.message{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.information{
    width:100%;
    max-width: 255px;
    height: 50px;
    border: none;
    text-indent: 20px;
    padding-block: 0;
    padding-inline: 0;
}

.information::placeholder{
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.information1{
    width: 100%;
    max-width: 540px;
    padding-top: 17px;
    padding-bottom: 143px;
    text-indent: 20px;
    border: none;
    padding-inline: 0;
}

.information1::placeholder{
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.last_button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.sub{
    padding: 20px 19px;
    width: 190px;
    font-size: 14px;
}
/* Footer settings */
.footer{
    background-color: var(--color-blueFons);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35%;
    padding-top: 50px;
    padding-bottom: 55px;
}

.footer_text{
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name_author{
    font-weight: 500;
    font-size: 21px;
}

.rights_protection{
    font-weight: 400;
    font-size: 13px;
}

.vkontakte{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.social_network-items{
    transform: scale(0);
    transition: all 0.7s ease 0s;
}

.vkontakte._workingAnim .social_network-items:nth-child(1){
    transition: all 0.7s ease 0.3s;
}

.vkontakte._workingAnim .social_network-items:nth-child(2){
    transition: all 0.7s ease 0.6s;
}

.vkontakte._workingAnim .social_network-items:nth-child(3){
    transition: all 0.7s ease 0.9s;
}

.vkontakte._workingAnim .social_network-items{
    transform: scale(1);
}

.go-top{
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    color: rgba(0, 51, 153, 0.5);
    border: 1px solid rgba(0, 51, 153, 0.5);
    background-color: rgba(0, 51, 153, 0.1);
    display: none;
}

.go-top--show{
    display: block;
}

.go-top:hover{
    color: rgba(0, 51, 153, 0.8);
    border: 1px solid rgba(0, 51, 153, 0.8);
    background-color: rgba(0, 51, 153, 0.2);
}

/* Media screen settings */
@media screen and (max-width: 1165px){
    .my_skills{
        gap: 50px;
        margin-top: 0;
    }
    .my_skills_text h3{
        text-align: center;
    }
    .my_skills_text p{
        text-align: center;
    }
}
@media screen and (max-width: 578px){
    .footer{
        flex-direction: column;
        gap:40px;
    }
    .video{
        width: 100vw;
        height: 45vh;
    }
}
@media screen and (max-width: 200px){
    .vkontakte{
        flex-direction: column;
    }
}
@media screen and (max-width: 345px){
    .data{
        flex-direction: column;
    }
    .information{
        max-width: 345px;
    }
}
@media screen and (max-width: 1042px){
    .start_title{
        text-align: center;
    }
}
@media screen and (max-width: 555px){
    .photos{
        grid-template-columns: repeat(2,50vw);
        grid-template-rows: repeat(4,50vw);
    }
}
@media screen and (max-width: 900px){
    .burger-btn{
        display: block;
        position: relative;
        margin-top: 50px;
    }
    .header_nav{
        position: relative;
        right: -350px;
        top: 0;
        width: 350px;
        background-color: #34547A;
        visibility: hidden;
        transition: transform .5s, visibility .5s;
    }
    .header_list{
        display: block;
    }
    .header_element:not(:last-child){
        margin-right: 0;
    }
    .header_link{
        color:#F9F9F9;
        font-size: 21px;
        display: block;
        padding: 10px;
    }
    .header_link:hover, .header_link:focus, .header_link:active{
        color: #00BBD3;
    }
    .header.open .header_nav{
        transform: translateX(-100%);
        visibility: visible;
    }
    .header_wrapper{
        display: flex;
        flex-wrap:wrap;
        justify-content:space-around;
    }
}
