body{
    position: absolute;
    background-color: #F9F9F9;
    width: 100%;
    max-width: 1920px;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;   
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    font-size: 32px;
    color:black;
    margin:0;
    padding:0;
}

p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin:0;
    padding:0;
}

.wrapper{
    max-width: 1150px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    background: #34547A;
    font-weight: 400;
    color: white;
    line-height: 19px;
    letter-spacing: 1.4px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

textarea { 
    resize: none;
  }

.button:hover, .button:focus, .button:active{
    background: #0c3768;
    color: #00BBD3;
}

.header{
    width: 100%;
    background-color: #EEEFF1 ;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header_logo_picture{
    margin-top: 50px;
    width: 96px;
    height: 60px;
}
 
.header_list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 76px;
}

.header_element{
    margin-right: 42px;
}

.header_element:last-child{
    margin-right: 0;
}

.header_link{
    font-size: 16px;
    font-weight: 400px;
    color: black;
    text-decoration: none;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.header_link:hover, .header_link:focus, .header_link:active{
    color: #34547A;
}

.start{
    background-color: #EEEFF1;
}

.start_elements{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 131px;
    padding-top: 142px;
    padding-bottom: 146px;
}

.start_picture{
    width: 100%;
    max-width: 357px;
    height: auto;
}

.start_title{
    max-width: 540px;
    text-align: left;
}

.start_title h1{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 60px;
}

.start_title p{
    margin-bottom: 60px;
}

.write_me{
    padding: 25px 41px;
    font-size: 16px;
}

.wrapper1{
    max-width: 540px;
    margin: 0 auto; 
}

.about_me{
    margin-top: 119px;
    margin-bottom: 100px;
    text-align: center;
}

.about_me h2{
    margin-bottom: 50px;
}

.blue_projects{
    background-color: #34547A;
    width: 100%;
}

.project_card{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 49px;
    padding-top:100px;
    padding-bottom:100px;
}

.my_skills{
    margin-top: 102px;
    margin-bottom: 101px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
}

.my_skills_text{
    width: 445px;
    margin-top: 102px;
    margin-bottom: 91px;
}

.my_skills_text h3{
    margin-bottom: 50px;
}

.my_skills_text p{
    margin-bottom: 20px;
    height: 15px;
}

.scale{
    margin-bottom: 30px;
}

.scale_gray{   
    width: 100%;
    height: 4px;
    background-color: #C4C4C4;
}

.scale_blue{
    width: 80%;
    max-width: 349px;
    height: 4px;
    background-color: #34547A;
    margin-top: -4px;
}

.scale:last-child{
    margin-bottom: 0;
}

.fotoAuthor{
    max-width: 100%;
    max-height: 100%;
}

.how_work{
    background-color: #EEEFF1;
    width: 100%;
    /*height: 1004px;*/
}

.how_work_title{
    text-align: center;
    padding-top: 100px;
}

.how_work_title h4{
    margin-bottom: 50px;
}

.videoclip{
    padding-bottom: 100px;
}

.video{
    background: url('../img/Rectangle 5.png') no-repeat;
    background-position: center center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 57px;
    max-width: 1110px;
    height: 65vh;
    /*height: 600px;*/
    width: 58%;
}


.video::after{
    content: '';
    display: block;
    background: url('../img/play-button.svg');
    width: 100px;
    height: 100px;
}

.photos{
    display: grid;
    grid-template-columns: repeat(4,25vw);
    grid-template-rows: repeat(2,25vw);
    margin-top: 28px;
    padding: 0px;
}

.photochka{
    width: 100%;
    height: 100%;
}

.gradient{
    display: inline-block;
	position: relative;    
	line-height: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.gradient:hover:after {
	content: '';
	display: block;   
    width: 100%;
	height: 100%; 
	position: absolute;
    background: transparent;
	background-image: linear-gradient(#34547A, #34547A);
    opacity: 0.8; 
}

.gradient:hover:before {
	content: '';
    display: inline-block;
    width: 100px;
	height: 100px;
    position: absolute;    
	background: url('../img/view.svg') no-repeat;
    z-index: 100;
}

.microsoft{
    margin-top: 72px;
}

.m{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
}

.microsoft:last-child{
    gap:0;
}

.microsoftik{
    max-width: 100%;
    max-height: 100%;
}

.last-block{
    margin-top: 100px;
    padding-bottom: 100px;
    background-color: #EEEFF1;
    width: 100%;
}

.last_text-block{
    padding-top: 100px;
    text-align: center;
}

.last_text-block p{
    margin-top: 50px;
}

.data{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 65px;
}

.message{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.information{
    width:100%;
    max-width: 255px;
    height: 50px;
    border: none;
    text-indent: 20px;
    padding-block: 0;
    padding-inline: 0;
}

.information::placeholder{
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.information1{
    width: 100%;
    max-width: 540px;
    padding-top: 17px;
    padding-bottom: 143px;
    text-indent: 20px;
    border: none;
    padding-inline: 0;
}

.information1::placeholder{
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.last_button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.sub{
    padding: 20px 19px;
    width: 190px;
    height: 55px;
    font-size: 14px;
}

.footer{
    background-color: #34547A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35%;
    padding-top: 50px;
    padding-bottom: 55px;
}

.footer_text{
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name_author{
    font-weight: 500;
    font-size: 21px;
}

.rights_protection{
    font-weight: 400;
    font-size: 13px;
}

.vkontakte{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

/*@media screen and (min-width: 360px) and (max-width: 430px){
    main{
        width: 100%;
        max-width: 411px;
    }
    .start{
        width: 100%;
        max-width: 395px;
    }
    .start_picture{
        left: 60px;
    }
    .blue_projects{
        width: 100%;
        max-width: 395px;
    }
    .about_me{
        margin-top: 119px;
        margin-bottom: 100px;
        width: 340px;
        height: 147px;
    }
    .my_skills{
        width: 100%;
        max-width: 395px;
    }
    .how_work{
        width: 100%;
        max-width: 395px;
    }
    .how_work_title{
        width: 340px;
        height: 147px;
    }
    .scale_gray{
        width: 360px;
    }
    .scale_blue{
        width: 266px;
    }
    .video{
        max-width: 395px;
        height: 700px;
        background-position: center center;
    }
    .last-block{
        width: 100%;
        max-width: 395px;
        margin-top: 50px;
    }
    .last_text-block{
        width: 340px;
        height: 147px;
    }
    .photos{
        grid-template-columns: repeat(2,195px);
        grid-template-rows: repeat(4,195px);
        margin-top: 28px;
        padding: 0px;
    }
    .photochka{
        width: 195px;
        height: 195px;
    }
    .photos_element{
        width: 195px;
        height: 195px;
    }
    .message{
        margin-left: 5px;
        margin-right: 5px;
    }
    .sub{
        width: 250px;
        height: 75px;
        font-size: 18px;
    }
    .footer{
        width: 100%;
        max-width: 395px;
    }
}
*/
@media screen and (max-width: 1165px){
    .my_skills{
        gap: 50px;
        margin-top: 0;
    }
    .my_skills_text h3{
        text-align: center;
    }
}
@media screen and (max-width: 578px){
    .footer{
        flex-direction: column;
        gap:40px;
    }
    .video{
        width: 100vw;
    }
}
@media screen and (max-width: 200px){
    .vkontakte{
        flex-direction: column;
    }
}
@media screen and (max-width: 345px){
    .data{
        flex-direction: column;
    }
    .information{
        max-width: 345px;
    }
}
